* {
    font-family: 'Roboto';
}

.hero, footer {
    background: #1f2937;
    box-shadow: -20px 0px 0px 20px #1f2937,
               20px 0px 0px 20px #1f2937;
}

/* First section */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7em;
}

ul {
    display: flex;
    margin-left: 30em;
    list-style-type: none;
}

#hero-logo, li {
    margin: 0 12px;
}

#hero-main, #hero-logo {
    color: #f9faf8;
}

#hero-main {
    font-weight: bolder;
    font-size: 48px;
}

#hero-logo {
    font-size: 24px;
    font-weight: bold;
}

#hero-secondary, a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.first {
    display: flex;
    justify-content: space-evenly;    
}

#hero-text {
    margin-bottom: 7em;
    margin-right: 20em;
}

button {
    all: unset;
    font-weight: bold;
    padding: 8px 12mm;
}

button, #container {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
}

/* second section */

.second {
    text-align: center;
    margin-bottom: 8em;
}

h2 {
    font-weight: bolder;
    color: #1f2937;
    font-size: 39px;
    margin: 18mm;
}

.figures {
    display: flex;
    justify-content: center;
}

/* third section */

.third {
    text-align: center;
    background: #e5e7eb;
    box-shadow: -20px 0px 0px 20px #e5e7eb,
               20px 0px 0px 20px #e5e7eb;
    padding: 4em;
    margin-bottom: 8em;
}

#quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: light;
    font-style: italic;
}

#autor{
    margin-left: 30em;
    font-size: 25px;
    font-weight: bolder;
}

/* fourth section */

.fourth {
    margin-bottom: 8em;
    padding: 25px;
}

#container {
    display: flex;
    justify-content: space-around;
    width: 28cm;
    padding: 30px;
    margin: 1px auto;
    align-items: center;
}

#cta {
    border: 2px solid white;
    padding: 9px 34px;
}

footer {
    text-align: center;
    color: #e5e7eb;
    padding: 23px 23px;
}